/* Class joka luo valkoiselle tekstille mustat ääriviivat */
.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

/* Sivun rungon tyylittely, tärkeimpinä fontti, sekä sivun taustakuva */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(junakuva.jpg);
  }
  
  /* Määritellään otsikkoteksti keskelle sivua */
  h1 {
    text-align: center;
  }
  
  /* Aseman valintaformin tyylittely */
  form {
    margin: 20px;
    text-align: center;
  }
  
  /* Aseman valintavalikon tyylittely */
  select {
    font-size: 16px;
    padding: 5px;
  }
  
  /* Nappien tyylittely */ 
  button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Wikipediaan ohjaavan napin erillinen tyylittely, jolla napin "painoarvoa" pyritään vähentämään pienentämällä fonttia ja tummentamalla hieman taustaa (Täysin omaa psykologiaa en tiedä ollenkaan vähentääkö tämä oikeasti huomiota :D) */
  .wiki {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #357737;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* Annetaan napeille hover määritelmä, joka muuttaa napin väriä leivästi kursorin ollessa napin päällä */  
button:hover {
    background-color: #3e8e41;
  }
  
 /* Asematietojen taulukon tyylittely */
  table {
    border-collapse: collapse;
    margin: 20px;
    width: 100%;
    background-color: white;
  }
  
  /* Taulukon solujen tyylittely */
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }

  /* Juna-asemalistan tyylittely */
  .content {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

